@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap'); /* 'Mulish', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap'); /* 'Open Sans', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* 'Quicksand', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /* 'Courgette', cursive */

/* Cores */

:root {
    --darker: #333333;
    --dark: #3a3b40;
    --blue: #979bd8 ;
    --light: #eeefe6 ;
    --lighter: #fff8f0 ;
    --dark-blue: #709775;
    --light-blue: #709775;
}

.light {
    --background: var(--lighter);
    --panel: var(--light);
    --title: var(--darker);
    --text: var(--dark);
    --detail: var(--blue);
    --alt-detail: var(--dark-blue);
    --dropdown: var(--dark-blue);
}

.dark {
    --background: var(--darker);
    --panel: var(--dark);
    --title: var(--lighter);
    --text: var(--light);
    --detail: var(--blue);
    --alt-detail: var(--light-blue);
    --dropdown: var(--dark-blue);
}

/* Basics */

body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color .21s ease-in;
}

article, #dropdown-menu {
    transition: background-color .2s ease-in, color .3s ease-in;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 24pt;
    margin: 10px 0 2px;
    color: var(--title);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 14pt;
}

article {
    background-color: var(--panel);
    margin: 30px auto 15px;
    padding: 5px 15px;
    width: 50%;
    min-width: 300px;
    border-radius: 6px;
    box-shadow: 2px 2px 0 var(--detail);
}

article h1 {
    padding: 5px;
    border-bottom: 2px solid var(--alt-detail);
    color: var(--title);
}

/* Theme Switcher */

#theme-switcher {
    position: fixed;
    left: 2%;
    top: 70px;
    
    background-color: transparent;

    width: 40px;
    height: 55px;
    padding: 0;
    margin: 0;

    border-radius: 20px;
    border: 0;

    cursor: pointer;
    transition: box-shadow .2 ease-in;
}

#theme-switcher img {
    height: 50px;
    filter: hue-rotate(190deg);
    transition: filter .2s ease-out;
}

.light #theme-switcher img {
    filter: hue-rotate(190deg) grayscale(0) invert(0) brightness(1) contrast(1);
}

.dark #theme-switcher img {
    filter: hue-rotate(190deg) grayscale(1) invert(1) brightness(2.5) contrast(.6);
}

#bulb-cable {
    position: fixed;
    background-color: rgb(180, 180, 180);
    width: 1px;
    height: 72px;
    top: 0;
    left: calc(2% + 20px);
    padding: 0;
    margin: 0;
    /*border-left: 1px solid rgb(180, 180, 180);*/
}

/* Dropdown */

#dropdown-menu {
    display: flexbox;
    position: fixed;

    width: 60px;
    height: 60px;

    top: 10px;
    right: 10px;

    border-radius: 50%;
    background-color: var(--panel);
}

#dropdown-menu a {
    text-decoration: none;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: var(--text);
}

#dropdown-menu a:hover {
    color: var(--detail);
}

#dropdown-menu-label {
    display: block;
    text-align: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

#dropdown-menu-label:hover, #dropdown-menu:focus-within #dropdown-menu-label {
    background-color: rgba(0, 0, 0, .1);
}

#dropdown-menu-label p {
    font-family: 'Roboto';
    font-weight: bolder;
    margin: -2px 0 7px;
    height: 5px;
}

.dropdown {
    display: flexbox;

    list-style: none;
    margin: 0;
    padding: 0;

    opacity: 0;
    pointer-events: none;

    transform: translateY(-100%);
    transition: transform .3s ease-out, opacity .3s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.dropdown a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding: 10px 0;
    border-bottom: 1px solid var(--detail);
    transition: background-color .15s ease-in;
}

.dropdown a:hover {
    background-color: var(--panel);
}

.dropdown li {
    display: flexbox;
    background-color: var(--background);

    align-items: center;

    padding: 0;
    margin: 0 0 5px;

    width: 100%;
    height: 100%;
}

/* General Classes */

.center {
    margin: auto;
    text-align: center;
}